<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">New Branch</a></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid-body no-border">
      <% if @current_user_site.is_automate_process %>
        <%= render 'automate_form', branch: @branch %>
      <% else %>
          <%= render 'manual_form', branch: @branch %>
      <% end %>
    </div>
  </div>
</div>
