<!--<h3 style="font-size: 20px;font-weight: 900;">BTE</h3>-->
<div class="row">
  <div class="col-md-12" style="height: 2px"><%= wicked_pdf_image_tag('bte.jpg', style: 'width:40px;float:left')%><p style="text-align: center;font-size: 12px" >BTE - Bio Tech Energy Pvt Limited</p><%= wicked_pdf_image_tag('bte.jpg', style: 'width:40px;float:right;margin-top:-30px')%></div>
</div>
