<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @storage_type.name %>
</p>

<%= link_to 'Edit', edit_storage_type_path(@storage_type) %> |
<%= link_to 'Back', storage_types_path %>
