<td class="details" colspan="12" style="background-color: lavender;margin-left:20%;">
  <div class="row">
    <%= hidden_field_tag :schedule_branch_id, schedule_branch_row.id %>
    <div class="form-group">
      <lable>Select date</lable>
      <%= text_field_tag 'collected_at', Date.today.strftime('%d/%m/%Y'), class: 'datepicker abc' %>
      <lable>Quantity</lable>
      <%= text_field_tag :quantity, qnty %>
      <%= submit_tag 'Save', class: 'btn btn-success submit_quantity' %>
      <span class="notification_message"></span>
    </div>
  </div>
</td>

