<div class="row">
  <div class="col-md-4" style="height: 2px">
    <%= wicked_pdf_image_tag('BTE.png', style: 'width:40px;float:left;margin-top:2px;')%>
  </div>
  <div class="col-md-4">
    <br/>
    <span style="text-align: center;font-size: 12px;margin-left:30%;" ><strong>BTE - Bio Tech Energy Pvt Limited</strong></span>
  </div>
</div>
<hr width="100%" style="margin: 0px;margin-top:5px;">

