<table style="width:100%">
  <tr>
    <td>
      <%= wicked_pdf_image_tag('BTE.png', style: "float:left; width: 40px; padding-top:5px") %>
    </td>
    <td>
      <span style="text-align: center;font-size: 12px;margin-left:30%;" ><strong>WASTE TRANSFER SUMMARY</strong></span>
    </td>
    <td>
      <%= wicked_pdf_image_tag('saafpunjablogo.png', style: "float:right; width: 50px")%>
    </td>
  </tr>

</table>

<hr width="100%" style="margin: 0px;margin-top:5px;">
