<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Companies</a></li>
  <li><%= link_to 'New Company', new_company_path, class:'btn btn-mini btn-primary' %></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">
      <div class="grid-body no-border">
        <table class="table table-striped list-data-table">
          <thead>
          <tr>
            <th>Company name</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @companies.each do |company| %>
              <tr>
                <td><%= company.company_name %></td>
                <td>
                  <%= link_to '', edit_company_path(company), class:'fa fa-edit' %>
                  <%= link_to '', company, method: :delete, class:'fa fa-trash',data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
