<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Add area</a></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid-body no-border">
      <%= render 'form', area: @area %>
    </div>
  </div>
</div>