<% @branches.each do |branch| %>
    <%
      @branch = branch
      @route_branches = RouteBranch.where(branch_id: @branch.id, route_id: @route_ids, is_deleted: false, transfer_to: nil)
      @paid = Transaction.where('branch_id = ? AND extract(month from transaction_date) = ?', @branch.id, @date.month).sum(:amount) || 0
    %>
    <%= render 'invoice_report' %>
    <% if @branches.last != branch %>
        <div class="page-break"></div>
    <% end %>
<% end %>