<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Roles</a></li>
  <li><%= link_to 'New role', new_role_path, class:'btn btn-mini btn-primary' %></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">
      <div class="grid-body no-border">
        <table class="table table-striped list-data-table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
          <% @roles.each do |role| %>
              <tr>
                <td><%= role.name %></td>
                <td>
                  <%= link_to '', edit_role_path(role), class: 'fa fa-edit' %>
                  <%= link_to '', role, method: :delete, class: 'fa fa-trash', data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

