<div class="panel panel-primary">
  <div class="panel-heading">
    Branches
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <th>Area</th>
        <th>Branch name</th>
        <th>Code (C/B)</th>
        <th>Cont#</th>
      </thead>
      <tbody>
        <% @route_branches&.each do |route_branch| %>
          <tr>
            <td><%= route_branch.branch.area.name %></td>
            <td><%= route_branch.branch.branch_name %></td>
            <td><%= "#{route_branch.branch.company.company_code}/#{route_branch.branch.branch_code}" %></td>
            <td><%= route_branch.branch.contact_phone %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>