<td class="details" colspan="12" style="background-color: lavender;">
  <div class="row">
    <div class="col-md-12">
      <table  class="table table-striped">
        <thead>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <tr>
            <td><b>Profile Photo:</b></td>
            <td><b>Profile Photo:</b></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</td>
