<ul class="breadcrumb">
  <li><p>YOU ARE HERE</p></li>
  <li><a href="#" class="active">Reports</a></li>
</ul>
<div class="row">
  <div class="col-md-12">
    <div class="grid simple">
      <div class="grid-body no-border">
        <%= render 'form' %>
      </div>
      <br/>
      <div id="report_content">
      </div>
    </div>
  </div>
</div>

