<p style="text-align: center;color: white;">
  <span style="font-size: 10px;">Developed by:</span>
  <%= link_to 'AppsGenii Technologies (Pvt) Ltd.', 'http://appsgenii.com/', target: '_blank', style: 'color: white;font-size: 10px;' %>
</p>
